/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para os inputs respeitarem a largura*/
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
  }
  
  body{
    margin:5px;
    padding-top:2vh; /*basicamente 5% do topo - view height*/
    background-image:url('./imagem.png') ;
    background-size: cover; /*ocupar a tela inteira, centralizada*/
  }
  
  a{
    text-decoration: none;
  }
  
  /* esconde as ancoras da tela */
  a.links{
    display: none;
  }
  
  /* formatando o cabeçalho dos formulários */
  h1{
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-family: Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
  
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }
  
  p{
  
    position:relative;
  }
  
  p:first-child{
    margin: 0px;
  }
  
  input:not([type="checkbox"]){
      font-family: Helvetica,sans-serif;
      width: 95%;
      margin-top: 1px;
      padding: 10px;
      transition: all 0.2s linear;
      margin-bottom: 22px;
      border-bottom: 2px solid #323232
  }

  /* form */
  #main-container {
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 35px;
    position:sticky;
  }
  
  #main-container h1 {
    text-align: center;
    font-size: 1.6rem;
  }
  
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*criar espaço autom qdo dois input estiverem juntos*/
  }
  
  .full-box {
    flex: 1 1 100%;
    position: relative;
  
  }
  
  .half-box {
    flex: 1 1 45%;
    position: relative;
  }
  
  .middle-box {
    flex: 1 1 50%;
    position: absolute;
    width: 95%;
    margin-top: 77%;
  }
  
  
  input:focus[type="submit"] {
    display:none;
  }
  
  input[type="submit"] {
    background-color: #3579a0;
    color: #FFF;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 20px;
  }
  
  input[type="submit"]:hover{
    background: #1f2792;
  }
  
  input, label[type="fullbox"] {
    width: 100%; 
  }
  
  label {
    font-weight: bold;
    font-size: .8rem;
  }
  
  input {
    border-bottom: 2px solid #323232;
    padding: 15px;
    font-size: .9rem;
    margin-bottom: 40px;
  }
  
  input:focus /*quando vc clica no input*/{
    border-color: #3579a0;
    outline: none;
  }
  
  
  input:focus [type="lastname"] /*quando vc clica no input*/{
    outline: none;
  display: block;
  }
  
  
  input[type="checkbox"] {
    background-color: #3579a0;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 80px;
    text-align: right;
    padding: 0px;
    width: 5%;
    flex-wrap: none;
    margin-left: -2%;
    position: relative;
  }
  
  input:focus[type="checkbox"] {
    display:inline-block;
  }
  
  a {
    color: #3579a0;
    text-decoration: none;
  }
  
  a.links{
    display: none;
  }
  
  /*marcando os links para mudar de um formulário para outro */
  .link{
    position: right;
    margin-left: 44%;
    margin-top: 50px;
    background: #ffffff;
    color: #7f7c7c;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    border-top: 1px solid #ffffff;
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
  
  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: #3579a0;
    margin-left: 10px;
    border: 1px solid #7f7c7c;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  }
  .link a:hover {
    color: #1f2792;
    background: #f7f7f7;
    border: 1px solid #1f2792;
  }
  
  .spacing{
    height: 10%;
    width: 10%;
  }
  
  /*js*/
  
  #agreement {
    margin-right: 5px;
  }
  
  #agreement, #agreement-label {
    display: inline-block;
    width: auto;
  }
  
  .error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: 12px;
  }
  
  .template {
    display: none;
  }
  