body{
    margin: 0;
    background:  #222;
    font-family: 'Work Sans',sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header{
    background:#4b4276;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

h1{
    float: left;
    padding: 10px 0;
}

nav{
    float: right;
    padding-right: 70px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}