<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minha Jornada</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<section class="section hero is-light medium">
    <div class="container">
        <h1 class="title">
            Edição de Usuario
        </h1>
    </div>
</section>
<section class="is-rounded is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="#" th:action="@{/employee/edit}" th:object="${cliente}" method="post" class="box">
                        <div class="field">
                            <label for="" class="label">Usuario</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input class="input" type="text" th:field="*{name}"/>
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Password</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input class="input" th:field="*{password}" type="text"/>
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field" id="savebutton">
                            <button id="savebutton" class="button is-success">
                                Editar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
</body>
</html>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            var $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
