<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    
    
    
    <title>Input dos Dados</title>
    
    <link rel="stylesheet" href="../static/styles/screen2.css">
    
  </head>

  <body>
      <div id="bt_sair">
        <label id="label_bt_sair">
          Sair
          <input type="Button"></input>
        </label>
      </div>

      <div id="titulo">
          <h1>SELECIONE AS PLANILHAS:</h1>
      </div>

      
    <div id="box1">
      <div id="STG_FNT_ITT"><h1>STG_FNT_ITT</h1></div>
      <div id="STG_FNT_ITT_caixa"></div>
 
      <div id="bt_1">
        <label id="label_bt1">
          Selecionar
        <input type="file" value="input_tb1"/>
        </label>
      </div> 
    </div>

    <div id="box2">
      <div id="STG_MDL"><h1>STG_MDL</h1></div>
      <div id="STG_MDL_caixa"></div>
 
      <div id="bt_2">
        <label id="label_bt2">
          Selecionar
        <input type="file" value="input_tb2"/>
        </label>
      </div> 
    </div>

    <div id="box3">
      <div id="STG_MVT_CRD"><h1>STG_MVT_CRD</h1></div>
      <div id="STG_MVT_CRD_caixa"></div>
 
      <div id="bt_3">
        <label id="label_bt3">
          Selecionar
        <input type="file" value="input_tb3"/>
        </label>
      </div> 
    </div>

    <div id="box4">
      <div id="STG_OPR_ITT"><h1>STG_OPR_ITT</h1></div>
      <div id="STG_OPR_ITT_caixa"></div>
 
      <div id="bt_4">
        <label id="label_bt4">
          Selecionar
        <input type="file" value="input_tb4"/>
        </label>
      </div> 
    </div>

    <div id="box5">
      <div id="STG_PGT"><h1>STG_PGT</h1></div>
      <div id="STG_PGT_caixa"></div>
      
      <div id="bt_5">
        <label id="label_bt5">
          Selecionar
        <input type="file" value="input_tb5"/>
        </label>
      </div> 
    </div>

    <div id="bt_rank">
      <button type="submit" value="ranquear">
        <a href="http://127.0.0.1:5000/rank">RANQUEAR</a>
      </button>
    </div>

    
  


  </body>


