@charset "UTF-8";

h4{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0px;
    font:bold 2.5em Helvetica, sans-serif;
}

h3{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0px;
    font:bold 1.5em Helvetica, sans-serif;
}

#comeco{
    background-color: white;
    width: 85%;
    height: 100%; 
    position: absolute;
	left: 100px;
    top: 180px;
}

.nossosprojetos{
    background-color: #fff;
    width: 100%;
    float: right;
    color: #293241;
    margin-left:0px;
    padding-top: 0px;
    padding-right: 0px;
    height: 1485px;
    margin-bottom: 60px;
}

.todosprojetos{
    width: 98%; 
    background-color:#fff;
    height: 300px;
    padding: 10;
    margin: auto;
}

.projeto1{
    width: 50%; 
    background-color:#F5AEDE;
    height: 300px;
    float: left;
    position: relative;
    border-radius: 10% 0% 0% 10% ;
}

.imgp{
    width: 50%; 
    background-color:#F5AEDE;
    float: right;
    position: relative;
    height: 300px;
    border-radius: 0% 10% 10% 0% ;
}

.projeto2{
    width: 50%; 
    background-color: #FDFF9A;
    height: 300px;
    float: left;
    position: relative;
    border-radius: 10% 0% 0% 10% ;
    margin-top: 20px;
}

.imgp2{
    width: 50%; 
    background-color: #FDFF9A;
    float: right;
    position: relative;
    height: 300px;
    border-radius: 0% 10% 10% 0% ;
    margin-top: 20px;
}

.projeto3{
    width: 50%; 
    background-color:#F5C498;
    height: 300px;
    float: left;
    position: relative;
    border-radius: 10% 0% 0% 10% ;
    margin-top: 20px;
}

.imgp3{
    width: 50%; 
    background-color:#F5C498;
    float: right;
    position: relative;
    height: 300px;
    border-radius: 0% 10% 10% 0% ;
    margin-top: 20px;
}

.aluno4{
    width: 50%; 
    background-color: #ADB8FF;
    height: 300px;
    float: left;
    position: relative;
    border-radius: 10% 0% 0% 10% ;
    margin-top: 20px;
}

.imgp4{
    width: 50%; 
    background-color: #ADB8FF;
    float: right;
    position: relative;
    height: 300px;
    border-radius: 0% 10% 10% 0% ;
    margin-top: 20px;
}

.texto6{
    color: #ff6347;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    font:bolder 1.7em Helvetica, sans-serif;
}

.texto5{
    color: #fff;
    font-size: 17px;
    font-family: Helvetica,sans-serif;
    text-align: center;
    padding: 8px;
    margin: 0;
}

.texto7{
    color: #01750D;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    font:bolder 1.7em Helvetica, sans-serif;
}

.rodape{
    margin-top: 0px;
    margin-top: 1030px;
}

.botao {
    background-color:tomato;
    width: 30%;
    position: center;
    padding: 8px 5px;
    margin-top: 30px; 
    margin-left: 33%; 
}

.botao:hover {
    background-color:rgb(241, 119, 98);
}