<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Minha Jornada</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<section class="section hero is-light medium">
    <div class="container">
        <h1 class="title">
            Troca de Senha
        </h1>
    </div>
</section>
<section class="is-rounded is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form class="box" method="post" th:action="@{/employee/password}" th:object="${passwordDto}">
                        <input name="_method" type="hidden" value="patch">
                        <div class="field">
                            <label class="label" for="">Senha atual</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input autofocus class="input" required th:field="*{currentPassword}"
                                           th:value="*{currentPassword}" type="password"/>
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                </td>
                                </span>

                                <div class="notification is-danger is-light"
                                     th:if="${#fields.hasErrors('currentPassword')}">
                                    <span th:errors="*{currentPassword}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Nova senha</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input autofocus class="input" id="password" required th:field="*{newPassword}"
                                           type="password"/>
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                        <span></span>
                                </td>
                                </span>
                                <div class="notification is-danger is-light"
                                     th:if="${#fields.hasErrors('newPassword')}">
                                    <span th:errors="*{newPassword}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Confirme a sua senha</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input class="input" required th:field="*{confirmPassword}" type="password"/>
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                </td>
                                </span>

                            </div>
                        </div>
                        <div class="field" id="savebutton">
                            <button class="button is-success" id="savebutton">
                                Editar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
</body>
</html>
<script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("As senhas não são iguais");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
