
  input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
  
.input_forms_modal{
    height: 30px;
    width: 300px;
    margin-bottom: 15px;
    background: #FFFFFF;
	border: 1px solid #131549;
	box-sizing: border-box;
	border-radius: 4px;
	margin-left: 5%;
}

.titulos_forms{
    color: #000000;
    font-family: Calibri;
    font-style: bold;
    font-size: 20px;
    font-weight: 400;
}

.btn_ajuda{
    margin-top: 1rem;
    margin-left: 43%;
    height: 55px;
    width: 150px;
    background: #0080c0;
    box-sizing: border-box;
    border-radius: 15px;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 3%;
}
