h1, h2, h3, h4, h5, h6, h7 {
    font-weight: 700;
}

a {
    color: #050A24;
}

a:hover {
    color: var(--secondary);
}

.title {
    text-transform: uppercase;
}

.subtitle {
    color: var(--medium);
    font-weight: 400;
}

.button {
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.button-primary {
    background-color: #050A24;
    border: #050A24;
}

.button-primary:hover{
    background-color: #5CE1E6;
     border: #5CE1E6;
}