# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

## CUSTOM DJPROJ

static_root/
db.sqlite3

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment Files

.env

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Certificados Online
certificado/*.pfx
certificado/*.pem
certificados/*.pfx
certificados/*.pem


# Armazenagem de arquivos
data/
arquivos/
arquivos_old/

# Geral eMensageria
.DS_Store
*.zip
umls_retorno/
media/
predecessores/
www/
UMLs/
*_backup.py
backup.py
atualizar_web.py
clear_database*
download.py
.idea/
xsd/rename_xsds.py
make_and_migrate_all_apps.py
copy_xmls_example.py
teste_cron.txt
delete_unused_migrations.py
delete_unused_files.py
get_last_migrations.py

# End of https://www.gitignore.io/api/python
