*{
    margin: 0;
    padding: 0;
}

body{
    background: #6C63FF;
    font-family: sans-serif;
    font-size: 1em;
    margin-left: 30%;
    margin-top: 2%;
    justify-content: center;
    color: white;
    position: absolute;
}
#titulo{ 
    font-family: sans-serif;
    color: white;
    margin-left: 20%;
    position: relative;
}

fieldset{
    border: 0;
}
input{
    border-radius: none;
    width: 500px;
}
textarea{
    width: 500px;
    height: 300px;
    resize: none;
}


fieldset.grupo .campo{
    float: center;
    right: 20px;
    left: 6px;
}
.campo input[type="text"], .campo textarea[type="text"]{
    padding: 0.70em;
    border:2px solid black;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    display: block;
}
.campo input, .campo textarea:focus{
    background: whitesmoke;
}
.enviar{
    font-size: 1.5em;
    background:red;
    border: 4px;
    margin-bottom: 3em;
    color:white;
    padding: 0.3em 0.8em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    border-radius: 10px;
    width: 100px;
    left: 40%;
    top: 90%;
}
.enviar:hover{
    background: green;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2);
    text-shadow: none;
}
.grupo{
    width: 625px;
    height:650px;
    left: 100px;
    top: 10px;
    opacity: 140%;
    border: 4px solid #000000;
    box-sizing: border-box;
    box-shadow: rgb(0,0,0,0.25);
    border-radius: 30px;
    background: white;
    position: relative;
}

.campo label{
    margin-bottom: 1px;
    color: rgb(0, 0, 0);
    display: block;
}
.campo{
    margin-bottom: 10px;
    margin-left: 45px;
    margin-top: 20px;
    bottom: 10px;
}
.anexar{
    width: 118px;
    height: 25px;
    position: absolute;
    right: 8%;
    top: 75%;
}
