*{
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body{
      position: relative;
      background-color: #6C63FF;
  }
  #barramenu{
      background-color: #4c47b1;
      position: relative;
      width: 100%;
      height: 100px;
      left: 0px;
      top: 0px;
            }
  #botaodoar{
      position: absolute;
      background:red;
      top: 5%;
      left: 68.6%;
      width: 130px;
      height: 90%;
      box-shadow: none;
      font-family: sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      color: white;
      border-top: none;
      border-bottom: 5px;
      border-left:none;
      border-right:none;
      border-radius: 10px;
  }
  #botaodoar:hover{
      background: #0ac503;
      opacity: 100%;
  }
  #botaologin{
      background: none;
      position: absolute;
      top: 0px;
      left: 79.027777777778%;
      width: 104px;
      height: 100%;
      margin-right: 1px;
      box-shadow:none;
      font-family: sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      color: white;
      border: none;
  }
  #botaologin:hover{
      background: #000000;
      opacity: 75%;
      border: none;
      color: white;
  }
  #botaocadast{
      background: none;
      position: absolute;
      top: 0px;
      left: 86.8%;
      width: 150px;
      height: 100%;
      margin-left: 1px;
      box-shadow: none;
      font-family:sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      color: #F2F2F2;
      border: none;
  }
  #botaocadast:hover{
      background: #000000;
      opacity: 75%;
      border: none;
      color: white;
  }
  .avisos{
    position: absolute;
    width: 600px;
    height: 190px;
    left: 42.041666666667%;
    top: 200.5234375%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .avisos2{
    position: absolute;
    width: 600px;
    height: 190px;
    left: 42.041666666667%;
    top: 650.5234375%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
  }
  #inicio{
    background-color: white;
    width: 85%;
    height: 2000px; 
    position: absolute;
	left: 100px;
    top: 180px;
}
.caixa1{
    position: relative;
    color: black;
    width: 87.75%;
    height: 6%;
    border: 3px solid black;
    right: -3.73%;
    top: -32.5%;
    border-top: none;
    padding-left: 10px;   
    padding-right: 10px;
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 15px;
}
.caixa2{
    position: relative;
    color: black;
    width: 87.75%;   
    height: 6%;
    border: 3px solid black;
    right: -3.73%; 
    top: 4.6%;
    border-top: none;
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 15px;
}
#rodape{
    width:85%;
    position: absolute;
    top: 2100%;
    padding-bottom: 12%;
    background-color: #029bc2;
    left: 100px;
    border: 2px solid black;
    border-left: none;
    border-right:none;
    border-bottom:none;
}
#redes_sociais1{
    width: 100px;
    height: 0px;
    position: absolute;
    background-color: white;
    top: 2120%;
    padding-bottom: 10%;
    left: 120px;
    padding-right: 100px;
    border-radius: 20px;
    border: 1px solid black;
}
#redes_sociais2{
    width: 100px;
    height: 0px;
    position: absolute;
    background-color: white;
    top: 2120%;
    padding-bottom: 10%;
    left: 42.5%;
    padding-right: 100px;
    border-radius: 20px;
    border: 1px solid black;

}
#redes_sociais3{
    width: 100px;
    height: 0px;
    position: absolute;
    background-color: white;
    top: 2120%;
    padding-bottom: 10%;
    right: 120px;
    padding-right: 100px;
    border-radius: 20px;
    border: 1px solid black;

}
.endereco{
    top:2270%;
    left: 26.5%;
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;  
}
.facebook{
    position: inherit;
    width: 35px;
    left: 10%;
    top: 5%;
}
.whatsapp{
    position: inherit;
    width: 35px;
    left: 10%;
    top: 35%;
}
.instagram{
    position: inherit;
    width: 35px;
    left: 10%;
    top: 65%; 
}
#facebooktxt{
    position: inherit;
    left: 35%;
    top: 12.5%;
    font-family: sans-serif;
}
#whatsapptxt{
    position: inherit;
    left: 35%;
    top: 42.5%;
    font-family: sans-serif;
}
#instagramtxt{
    position: inherit;
    left: 35%;
    top: 72.5%;
    font-family: sans-serif;
}
#titulo{
    top:115%;
    left: 20%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif; 
}
#tituloimagem1{
    color:black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#tituloimagem2{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}