<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Menu Administrador - nLearning</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Unica+One&family=Varela+Round&display=swap"
	rel="stylesheet">
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
	rel="stylesheet" type="text/css">
<link href="/css/menu_padrao.css" rel="stylesheet" type="text/css" />
<link href="/css/cadastro.css" rel="stylesheet" type="text/css" />
<link href="/css/default.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet">
<link href="/bootstrap/css/ionicons.min.css" rel="stylesheet">
<link href="/bootstrap/css/lightbox.min.css" rel="stylesheet">
<link href="/bootstrap/css/style.css" rel="stylesheet">
<script type="text/javascript" src="/js/maskTel.js"> </script>
<!-- Máscara para o telefone -->
<script type="text/javascript" src="/js/maskCPF.js"> </script>
<!-- Máscara para o CPF -->

<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="body">
	<div id="header">
		<div id="logo">
			<h1>
				<a href="/">n<span>Learning</span></a>
			</h1>
			<span class="btn-menu"> <span></span> <span></span> <span></span>
		</span>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Home</a></li>
				<li><a href="" accesskey="2" title="">Serviços</a></li>
				<li><a href="" accesskey="3" title="">Sobre nós</a></li>
				<li><a href="/Login" accesskey="5" title="">Sair</a></li>
			</ul>
		</div>
	</div>

	<div id="featured-wrapper">
	<nav class="menu-mobile">
			<ul>
				<li><a href="cadastrarAluno">Cadastro de Alunos</a></li>
				<li><a href="cadastrarTutor">Cadastro de Tutores</a></li>
				<li><a href="cadastrarCursoAdmin">Cadastro de Cursos</a></li>
				<li><a href="cadastrarGestor">Cadastro de Gestores</a></li>
				<li><a href="cursosQuestoesAdmin">Questões e Avaliações</a></li>
				<li><a href="cursosAdmin">Lista de Cursos</a></li>
				<li><a href="usuarios">Lista de Usuários</a></li>
				<li><a href="candidatos">Candidatos</a></li>
				<li><a href="alterarDadosAdmin">Alterar Dados</a></li>
				<li><a href="/Login">Sair</a></li>
			</ul>
		</nav>
		<div id="featured" class="container_painel">
			<div class="row about-container">
<!-- 				<div class="col-lg-12"> -->
<!-- 					<a href="cadastrarAluno" class="imagem_titulo"> <img -->
<!-- 						class="imagem1" src="/imagens/lista_alunos.svg"> Cadastro de -->
<!-- 						alunos -->
<!-- 					</a> <br> <br> <a href="cadastrarTutor" class="imagem_titulo"> -->
<!-- 						<img class="imagem1" src="/imagens/lista_tutores.svg"> -->
<!-- 						Cadastro de tutores -->
<!-- 					</a> <br> <br> <a href="cadastrarCursoAdmin" class="imagem_titulo"> -->
<!-- 						<img class="imagem1" src="/imagens/cursos_questoes.svg"> -->
<!-- 						Cadastro de cursos -->
<!-- 					</a> <br> <br> <a href="cursosQuestoes" class="imagem_titulo"> -->
<!-- 						<img class="imagem1" src="/imagens/cursos_questoes.svg"> -->
<!-- 						Questões e avaliações -->
<!-- 					</a> <br> <br> <a href="cadastrarGestor" -->
<!-- 						class="imagem_titulo"> <img class="imagem1 tamanho_gestor" -->
<!-- 						src="/imagens/gestores.svg"> Cadastro de gestores -->
<!-- 					</a> <br> <br> <a href="usuarios" class="imagem_titulo"> -->
<!-- 						<img class="imagem1" src="/imagens/lista_alunos.svg"> Lista -->
<!-- 						de usuários -->
<!-- 					</a> <br> <br> <a href="update_admin" class="imagem_titulo"> -->
<!-- 						<img class="imagem1" src="/imagens/lista_tutores.svg"> -->
<!-- 						Alterar dados -->
<!-- 					</a> <br> <br> <a href="cursos" class="imagem_titulo"> <img -->
<!-- 						class="imagem1" src="/imagens/cursos_questoes.svg"> Lista de -->
<!-- 						cursos -->
<!-- 					</a> <br> <br> <a href="candidatos" class="imagem_titulo"> -->
<!-- 						<img class="imagem1" src="/imagens/lista_tutores.svg"> -->
<!-- 						Candidatos -->
<!-- 					</a> <br> <br> <br> <br> <br> <br> -->
<!-- 				</div> -->

				<!-- 					<div class="col-lg-3"> -->
				<!-- 						<a href="cadastrarAluno" class="imagem_titulo">Cadastro de -->
				<!-- 							alunos</a> <br> <br> <a href="cadastrarTutor" -->
				<!-- 							class="imagem_titulo">Cadastro de tutores</a> <br> <br> -->
				<!-- 						<a href="update_admin" class="imagem_titulo">Alterar dados</a> <br> -->
				<!-- 						<br> <a href="candidatos" class="imagem_titulo">Candidatos</a> -->
				<!-- 					</div> -->


				<!-- 					<div class="col-lg-3"> -->
				<!-- 						<img class="imagem2" src="/imagens/cursos_questoes.svg"> <br> -->
				<!-- 						<br> <img class="imagem2 tamanho_gestor" -->
				<!-- 							src="/imagens/gestores.svg"> <br> <br> <img -->
				<!-- 							class="imagem2" src="/imagens/cursos_questoes.svg"> <br> -->
				<!-- 						<br> <img class="imagem2" src="/imagens/cursos_questoes.svg"> -->
				<!-- 					</div> -->

				<!-- 					<div class="col-lg-3"> -->
				<!-- 						<a href="cadastrarCurso" class="imagem_titulo">Cadastro de -->
				<!-- 							cursos</a> <br> <br> <a href="cadastrarGestor" -->
				<!-- 							class="imagem_titulo">Cadastro de gestores</a> <br> <br> -->
				<!-- 						<a href="cursos" class="imagem_titulo">Lista de cursos</a> <br> -->


				<!-- 						<div class="col-lg-3"> -->
				<!-- 							<a href="usuarios" class="imagem_titulo">Lista de usuários</a> <br> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
			</div>
		</div>
		<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
		type="text/javascript"></script>
	<script>
	$('.btn-menu').on('click touchstart', function () {
		  $('html').toggleClass('btn-menu-active');
		});
	</script>
</body>
<footer>
	<div id="footer_main1">
			<div class="flex_footer">
				<div class="flex_footer_div1">
						<h1 class="h1_footer">Empresa</h1>
						<a class="a_footer" href=""  title="">⸰ Sobre nós</a>
						<a class="a_footer" href=""  title="">⸰ Legal</a>
						<a class="a_footer" href=""  title="">⸰ Negócios</a>
				</div>

				<div class="flex_footer_div2">
					<h1 class="h1_footer">Ajuda</h1>
					<a class="a_footer" href="" title="">⸰ Central de ajuda</a>
					<a class="a_footer" href="" title="">⸰ Cursos</a>
					<a class="a_footer" href="" title="">⸰ Contato</a>
				</div>
				
				<div>
					<h1 class="h1_footer1">Midias sociais</h1>
					<img class="img_midia1 " src="/imagens/midias.svg">
				</div>
			</div>
			
	</div>
</footer>
</html>