{% extends "report/customer_data/_base.jinja" %}

{% block CONTAINER %}
<section class="header">
    <h2 class="title">Personal Data Report</h2>
    <div class="value-props row">
    <div class="offset-by-one five columns value-prop">
        <i data-feather="user" width="10em" height="10em" stroke-width="1" class="value-img"></i>
        <a class="button button-primary" href="customer_profile.html"><h5>Account Data</h5></a>
    </div>
    <div class="five columns value-prop">
        <i data-feather="shopping-cart" width="10em" height="10em" stroke-width="1" class="value-img"></i>
        <a class="button button-primary" href="purchasing_history.html"><h5>Purchasing History</h5></a>
    </div>
    </div>
</section>
{% endblock %}

{% block FOOTER %}{% endblock %}