

<div class="container">
  <div class="row">
    <div class="col-md-12 new-course">
        <br>
        <br>
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cadastrar Novo Curso</h2>
        <%= render 'form' %>
        <%= link_to 'Voltar', courses_path  , class:'btn btn-secondary'%>
        <br>
        <br>
    </div>
  </div>
</div>
