@font-face{
    font-family: QuarcaCondRegular;
    src: url(../Fontes/QuarcaCondRegular.otf); 
  }

  .containeri {
    width: 100%;
    margin-top: 20px;
  }
  
  .form-contact {
    margin-top: 200px;
    margin-left: 20px;
    width: 60%;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    text-indent: 20px;
  }
  
  .form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-button {
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    height: 50px;
    opacity: .8;
    margin-bottom: 0px;
    cursor: pointer;
    background: #004754;
    display: block;
    border: none;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #004754;
    transition: 1s;
    margin-left: 0px;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }

#Contato{
    display: block;
    position: absolute;
    font-size: 50px;
    color: #004754;
    left: 20px;
    top: 100px;
}