<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link
	href="https://fonts.googleapis.com/css2?family=Unica+One&family=Varela+Round&display=swap"
	rel="stylesheet">
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
	rel="stylesheet" type="text/css">
<link href="/css/menu_padrao.css" rel="stylesheet" type="text/css" />
<link href="/css/cadastro.css" rel="stylesheet" type="text/css" />
<link href="/css/cursos.css" rel="stylesheet" type="text/css" />
<link href="/css/default.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet">
<link href="/bootstrap/css/ionicons.min.css" rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link href="/bootstrap/css/lightbox.min.css" rel="stylesheet">
<link href="/bootstrap/css/style.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script type="text/javascript" src="/js/maskTel.js"> </script>
<!-- Máscara para o telefone -->
<script type="text/javascript" src="/js/maskCPF.js"> </script>
<!-- Máscara para o CPF -->
<script type="text/javascript" src="/js/carregarImagem.js"> </script>
<!-- Carregar Imagem -->

<style>
table.blueTable {
	width: 50%;
	text-align: center;
	border-collapse: collapse;
	margin: auto;
}

table.blueTable td, table.blueTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}

table.blueTable tr:nth-child(even) {
	background: #D0E4F5;
}

table.blueTable thead {
	background: #1C6EA4;
}

table.blueTable thead th {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}

h3.titulo {
	text-align: center;
	padding: 10px;
}
</style>

</head>
<body class="body">
	<div id="header">
		<div id="logo">
			<h1>
				<a href="/">n<span>Learning</span></a>
			</h1>
			<span class="btn-menu"> <span></span> <span></span> <span></span>
			</span>
		</div>
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Home</a></li>
				<li><a href="/" accesskey="2" title="">Serviços</a></li>
				<li><a href="/" accesskey="3" title="">Sobre nós</a></li>
				<li><a href="menuAluno" accesskey="5" title="">Voltar</a></li>
			</ul>
		</div>
	</div>
	<div id="featured-wrapper">
		<nav class="menu-mobile">
			<ul>
				<li><a href="alterarDadosAluno">Perfil</a></li>
				<li><a href="cursosnLearning">Cursos</a></li>
				<li><a href="seusCursos">Seus Cursos</a></li>
				<li><a href="bibliotecaAluno">Biblioteca</a></li>
				<li><a href="">Trilha de aprendizado</a></li>
				<li><a href="menuAluno">Calendário</a></li>
				<li><a href="">Ajuda</a></li>
				<li><a href="/Login">Sair</a></li>
			</ul>
		</nav>
		<section class="container" id="fundo_cursos">
			<h3 class="titulo_cursos">Seus cursos</h3>
			<div th:each="curso : ${curso}" class="">

				<article
					class="alinhamento card borda-cor-especial card-largura p-3 m-3 col-md-3">
					<img class="imagem_tamanho"
						th:src="@{'data:image/jpg;base64,'+${curso.imagem_string}}">
					<div class="card-body ">
						<h5 class="card-title" th:text="${curso.nomeCurso}"></h5>
						<p class="card-text" th:text="${curso.descricao}"></p>
						<label>Tutor: <span class="card-text"
							th:text="${curso.tutor}"></span></label>
						<p>
							<a
								th:href="@{/visualizarQuestoesCurso(idCurso = ${curso.idCurso})}"
								class="btn botao-cor-especial">Veja o curso</a>
						</p>
					</div>
				</article>
			</div>
		</section>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
		type="text/javascript"></script>
	<script>
	$('.btn-menu').on('click touchstart', function () {
		  $('html').toggleClass('btn-menu-active');
		});
	</script>
</body>
<footer>
	<div id="footer_main">
		<div class="flex_footer">
			<div class="flex_footer_div1">
				<h1 class="h1_footer">Empresa</h1>
				<a class="a_footer" href="" title="">⸰ Sobre nós</a> <a
					class="a_footer" href="" title="">⸰ Legal</a> <a class="a_footer"
					href="" title="">⸰ Negócios</a>
			</div>

			<div class="flex_footer_div2">
				<h1 class="h1_footer">Ajuda</h1>
				<a class="a_footer" href="" title="">⸰ Central de ajuda</a> <a
					class="a_footer" href="" title="">⸰ Cursos</a> <a class="a_footer"
					href="" title="">⸰ Contato</a>
			</div>

			<div>
				<h1 class="h1_footer1">Midias sociais</h1>
				<img class="img_midia1 " src="/imagens/midias.svg">
			</div>
		</div>

	</div>
</footer>
</html>