@media (max-width: 1500px) {
  img#logo-home {
    margin-top: -15px;
  }

}

@media (max-width: 1300px) {
  div.register-container {
    background-position-x: -600px !important;
  }

  img#logo-home {
    width: 200px;
    margin-top: 20px;
  }

  span.welcome {
    width: 250px !important;

    margin-top: -20px;

    font-size: 35px !important;
  }

  p.welcome-paragraph {
    width: 150px;
  }
}

@media (max-width: 1200px) {

  div.form-container {
    height: 100vh;
  }

  div.register-container {
    background-position-x: -500px !important;
  }
}