<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Logs dos Sindicatos</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<section class="section hero is-light medium">
    <div class="container">
        <h1 class="title">
            Logs dos Sindicatos
        </h1>
    </div>
</section>
<section class="container mt-5">
    <input class="input is-rounded mb-5" id="txtSearch" name="keyword" placeholder="Entre com o nome para pesquisar"
           type="text">

    <table class="table container" style="width: 100%">
        <thead>
        <tr>
            <th>Sindicato</th>
            <th>Ultima modificação feita por</th>
            <th>Ultima data de modificação do Usuario</th>
            <th>Usuario criado por</th>
            <th>Data De crição do Usuario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="union: ${unionList}" th:id="'tr' + ${union.id}">
            <td th:text="${union.name}">Usuario</td>
            <td th:text="${union.lastModifiedBy}">Ultima modificação feita por</td>
            <td th:text="${union.lastModifiedDate}">Ultima data de modificação do Usuario</td>
            <td th:text="${union.createdBy}">Usuario criado por</td>
            <td th:text="${union.createdDate}">Data De crição do Usuario</td>
        </tr>
        </tbody>
    </table>
</section>

<script
        crossorigin="anonymous"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var union = /*[[${union}]]*/;
    /*]]>*/

    $('#txtSearch').on('keyup', function () {
        var value = $(this).val();

        FilterFunction(value, audit);
    });

    function FilterFunction(value, data) {
        var filteredData = [];
        for (var i = 0; i < data.length; i++) {
            value = value.toLowerCase();
            var fname = data[i].name.toLowerCase();
            if (fname.includes(value)) {
                document.querySelector("#tr" + data[i].id).style.display = 'table-row'
            } else {
                document.querySelector("#tr" + data[i].id).style.display = 'none'
            }
        }
    }
</script>

</body>
</html>