.product-card {
  position: relative;
  padding: 30px 20px;
}

.product-card-image {
  max-width: 220px;
  height: 300px;
  margin: 0 auto 10px;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
}

.product-card-image > .product-card-description {
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: opacity linear 200ms;
  overflow: hidden;
}
.product-card-image > .product-card-description > strong {
  display: block;
  font-size: 16px;
}

.product-card-image:hover > .product-card-description {
  opacity: 1;
}

.product-card > strong {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.product-card > footer {
  max-width: 220px;
  padding: 0;
  margin: 0 auto;
  background: none;
}

.product-card > footer > .price {
  float: left;
  height: 30px;
  padding: 4px 12px 4px 0;
  border-radius: 4px;
  box-shadow: 0 0 0 2px #ccc;
  font-size: 15px;
  font-weight: 700;
}

.product-card > footer > .price:before {
  content: "R$";
  padding: 6px 12px;
  margin-right: 12px;
  border-radius: 4px;
  background-color: #bd4350;
  box-shadow: 0 0 0 2px #bd4350;
  color: #fff;
}

.product-card > footer > .cart-button {
  float: right;
  width: 48px;
  height: 32px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #bd4350;
  color: #fff;
  text-align: center;
}

.product-card > footer > #car{
  margin-top: -2%;
  width: 48px;
  height: 35px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #bd4350;
  color: #fff;
  text-align: center;
  border: 0;
  margin-left: 28%;
}
