/* MIN */
@media (min-width:992px) {
    #header .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* MAX */
@media (min-width: 768px) { 
    #header .navbar-collapse{
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    #servicos a.destaque .img-container{
        height: 120px;
    }
    #servicos a.destaque .img-container img {
        max-height: 120px;
    }
}