@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


h2 {
    font-family: 'Open Sans', sans-serif;
    font-size:42px;
    font-weight:lighter;
    font-stretch: expanded;
    text-align:center;
    color:black ;
	margin-bottom:5pt;
	margin-left:390pt;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

div.wrapper{
    position:relative;
    width: 80%;
    align-items: center;
    margin-left: 10%;

  }

#voluntarios{
    float:left;
    width:42%; 
    text-align: center; 
    margin-right: 20pt;	
}

#doacaoecontato{
    float:right;
    width:42%;
    text-align: center; 
}


a.botao {
    background-color:rgb(198,37,47);
    border-color: black;
    color:white;
    padding:5px;
	border-radius: 10px;
	
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
}


#formlogin{
    float:left;
    padding-left: 100pt;
}

#formcad{
    float:right;
    padding-right: 100pt;
}

/*footer*/

#contato {
    margin-right: 50pt;
	margin-left:20pt;
    padding:10pt;
    text-align: center;
}

a.face {
    padding-right: 50pt;
}

a.youtube {
    padding-left: 50pt;
}

