@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#subtitulo{
    font-family: sans-serif;
    color: rgb(112, 99, 99);
    margin-left: 40pt;
	margin-right:50pt;
}

#formulario{
    padding: 20pt;
    position:absolute;
    display:block;
}

input #saibatexto{
    background-color:#f2f2f2;
    border:1px solid #000;
    padding:5px;
}

.camposaibamais{
    padding-left: 20pt;
    margin-left: 20pt;
}

.campoprojetos{
    margin: 20pt;
    padding: 20pt;
}

.campodoacao{
    margin: 20pt;
    padding: 20pt;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    font-weight:lighter;
    font-stretch: expanded;
    text-align:left;
    color:black ;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:lighter;
}
.botao{
    font-size: 1.2em;
    background: rgb(215, 102, 109);
    border: 0;
    margin-bottom: 1em;
    color: rgb(2, 34, 44);
    padding: 0.2em 0.6em;
    box-shadow: rgb(168, 173, 97);
    text-shadow: 1px 1px 1px rgb(96, 105, 26);
    position: static;
    top: 72%;
    left: 47.5%;
    margin-right: 50pt;
	margin-left: 65pt;
	margin-top: 1%;
   
}

.botao:hover{
    background: rgb(153, 70, 75);
    box-shadow: rgb(168, 173, 97);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;

}

.botao, #enviar{
    cursor: pointer;
	font-size: 1.1em;
	background-color:rgb(215, 102, 109);
    text-align: center;
	color: white;
	text-shadow: none;
	font-weight:bold;

	margin-right: 50pt;
	margin-left: 40pt;
}

form{
    margin-top: 2%;
	margin-bottom: 3,5%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
}
