html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.gantt_task_line.gantt_dependent_task {
    background-color: #65c16f;
    border: 1px solid #3c9445;
}
.gantt_task_line.gantt_dependent_task .gantt_task_progress {
    background-color: #46ad51;
}
#gantt_here{
    width: 100%;
    height: 100%;
}  