.login{
    background-color: #282832;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox{
    color: #fff;
    background-color: #3f4049;
    padding: 20px 40px;
    width: 30vw;
}

.loginBox section{
    margin-bottom: 20px;
}

.loginBox section a{
    text-decoration: none;
    color: #fff;
}

.loginBox form input{
    background-color: #282832;
    color: #fff;
}

.loginBox form button{
    background-color: #039ddc;
    padding: 8px;
    width: 100%;
}

.loginBox form button:hover{
    background-color: #0066cc;
}