{% extends "components/base_list.html" %}
{% load user_can_delete %}

{% block table_content %}
  <tr>
    <th class="ordered">Habilidade</th>
    <th class="ordered">Tipo de Habilidade</th>
  </tr>
  {% for obj in object_list %}
  <tr>
    <td>
      <a href="{% url update_url obj.pk %}">
      {{ obj.nome}}
      </a>
    </td>
    <td>
      {% if obj.tipo == 1 %}
        Hard Skill
      {% elif obj.tipo == 2 %}
        Soft Skill
      {% endif %}
    </td>
  </tr>
  {% empty %}
    {% include 'components/empty_list.html' %}
  {% endfor %}
{% endblock table_content %}
