
body{
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card{
    box-shadow: #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 10px;
}

.card-group > label{
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group > p{
    color: red;
}

.card-group > button{
    background-image: linear-gradient(to right, #76c3d7, #319cb7);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}

.btn button:hover{
    background-image: linear-gradient(to right, #76c3d7, #15768f);
}

.imglogin{
    width: 80px;
}

.title{
    color: #76c3d7;
}
