@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

.body {
    width: 1280px;
    height: 720px;
}



#bt_sair {
    position: absolute;
    width: 64px;
    height: 29.66px;
    left: 1184px;
    top: 33px;
    
    outline: none;
    border: 0;
    background: #DE6E55;
    border-radius: 25px;
}

#label_bt_sair {
    position: absolute;
    width: 36px;
    height: 13px;
    left: 14px;
    top: 8px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;

}


#titulo {
    position: absolute;
    width: 261px;
    height: 27px;
    left: 509px;
    top: 77px;
}

#titulo h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #0C2B5A;
}

input {
    display: none;
}

/*tb1*/

#box1 {
    position: absolute;
    width: 585px;
    height: 82px;
    left: 348px;
    top: 154px;
}

#STG_FNT_ITT {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 0;
    top: 0;
}

#STG_FNT_ITT h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-align: left;

    color: #0C2B5A;

}

#STG_FNT_ITT_caixa {
    position: absolute;
    width: 435px;
    height: 38px;
    left: 0px;
    top: 35px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #D4D4D4;
    border-radius: 25px;    
}

#bt_1 {
    position: absolute;
    width: 132px;
    height: 38px;
    left: 450px;
    top: 35px;

    background: #3E5374;
    border-radius: 25px;

}

#label_bt1 {
    position: absolute;
    width: 109px;
    height: 19px;
    left: 11px;
    top: 10px;
    
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
   
    text-align: center;
    color: #FFFFFF;
}

/*tb2*/

#box2 {
    position: absolute;
    width: 585px;
    height: 82px;
    left: 348px;
    top: 233px;
}

#STG_MDL {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 0;
    top: 0;
}

#STG_MDL h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-align: left;

    color: #0C2B5A;

}

#STG_MDL_caixa {
    position: absolute;
    width: 435px;
    height: 38px;
    left: 0px;
    top: 35px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #D4D4D4;
    border-radius: 25px;    
}

#bt_2 {
    position: absolute;
    width: 132px;
    height: 38px;
    left: 450px;
    top: 35px;

    background: #3E5374;
    border-radius: 25px;

}

#label_bt2 {
    position: absolute;
    width: 109px;
    height: 19px;
    left: 11px;
    top: 10px;
    
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
   
    text-align: center;
    color: #FFFFFF;
}

/*tb3*/

#box3 {
    position: absolute;
    width: 585px;
    height: 82px;
    left: 348px;
    top: 314px;
}

#STG_MVT_CRD {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 0;
    top: 0;
}

#STG_MVT_CRD h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-align: left;

    color: #0C2B5A;

}

#STG_MVT_CRD_caixa {
    position: absolute;
    width: 435px;
    height: 38px;
    left: 0px;
    top: 35px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #D4D4D4;
    border-radius: 25px;    
}

#bt_3 {
    position: absolute;
    width: 132px;
    height: 38px;
    left: 450px;
    top: 35px;

    background: #3E5374;
    border-radius: 25px;

}

#label_bt3 {
    position: absolute;
    width: 109px;
    height: 19px;
    left: 11px;
    top: 10px;
    
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
   
    text-align: center;
    color: #FFFFFF;
}

/*tb4*/

#box4 {
    position: absolute;
    width: 585px;
    height: 82px;
    left: 348px;
    top: 392px;
}

#STG_OPR_ITT {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 0;
    top: 0;
}

#STG_OPR_ITT h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-align: left;

    color: #0C2B5A;

}

#STG_OPR_ITT_caixa {
    position: absolute;
    width: 435px;
    height: 38px;
    left: 0px;
    top: 35px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #D4D4D4;
    border-radius: 25px;    
}

#bt_4 {
    position: absolute;
    width: 132px;
    height: 38px;
    left: 450px;
    top: 35px;

    background: #3E5374;
    border-radius: 25px;

}

#label_bt4 {
    position: absolute;
    width: 109px;
    height: 19px;
    left: 11px;
    top: 10px;
    
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
   
    text-align: center;
    color: #FFFFFF;
}

/*tb5*/

#box5 {
    position: absolute;
    width: 585px;
    height: 82px;
    left: 348px;
    top: 471px;
}

#STG_PGT {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 0;
    top: 0;
}

#STG_PGT h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-align: left;

    color: #0C2B5A;

}

#STG_PGT_caixa {
    position: absolute;
    width: 435px;
    height: 38px;
    left: 0px;
    top: 35px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #D4D4D4;
    border-radius: 25px;    
}

#bt_5 {
    position: absolute;
    width: 132px;
    height: 38px;
    left: 450px;
    top: 35px;

    background: #3E5374;
    border-radius: 25px;

}

#label_bt5 {
    position: absolute;
    width: 109px;
    height: 19px;
    left: 11px;
    top: 10px;
    
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
   
    text-align: center;
    color: #FFFFFF;
}

#bt_rank{
    position: absolute;
    width: 583px;
    height: 38px;
    left: 345px;
    top: 594px;

    background: #55DE74;
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#bt_rank button {
    position: absolute;
    width: 583px;
    height: 38px;
    outline: none;
    border: 0;

    background: #55DE74;
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#bt_rank button a {
   
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

}

#bt_rank button:hover {
    transition: 800ms;
    background: #47bd63;
}