@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-shadow: 0px 1px 3px rgba(150, 150, 150, 0.2);
}

body {
    font-size: 18px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font-size: 18px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;

}

form textarea {
    width: 100%;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 1.5rem;
    resize: vertical;

}

.button {
    width: 100%;
    height: 60px;
    background-color: #1e1e1e; /* 1e1e1e */
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter .2s;
}

.button-red {
    width: 50px;
    height: 60px;
    background-color: #e02041; /* 1e1e1e */
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter .2s;
}

.button:hover {
   filter: brightness(120%);
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 32px;
    color: #555;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity .2s;
    float: left;
}

.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8;
}