.main-container {
    flex: 1;
    
    align-items: center;
    text-align: center;
    justify-content: center;
  
    margin: -5rem 30rem 2rem;
    padding: 3rem;

    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background: var(--color-box-base);
  }
  .shape-step1-header {
    display: flex;
    justify-content: start;

    margin-bottom: 2rem;
}

.shape-step1-header p {
    color: #800000;
        
    text-align: start;
    justify-content: center;
    align-items: center;

    font: 700 8.0rem Montserrat;
}

.shape-step1-header span {
    text-align: start;

    color: var(--color-text-complement);

    font: 400 3rem Montserrat;
    margin: 3rem 0 0 1rem;
}

.shape-step1-button {
    display: block;
}

.shape-step2-header {
    display: flex;
    justify-content: start;

    margin: 3rem 0;
}

.shape-step2-header p {

    color: #800000;
        
    text-align: start;
    justify-content: center;
    align-items: center;

    font: 700 8.0rem Montserrat;
}

.shape-step2-header span {
    text-align: start;

    color: var(--color-text-complement);

    font: 400 3rem Montserrat;
    margin: 3rem 0 0 1rem;
}

.shape-step2-button {
    display: block;
}

.shape-step3-header {
    display: flex;
    justify-content: start;

    margin: 3rem 0;
}

.shape-step3-header p {

    color: #800000;
        
    text-align: start;
    justify-content: center;
    align-items: center;

    font: 700 8.0rem Montserrat;
}

.shape-step3-header span {
    text-align: start;

    color: var(--color-text-complement);

    font: 400 3rem Montserrat;
    margin: 3rem 0 0 1rem;
}

.shape-send-button {
    flex: 1;
    display: flex;

    margin: 4rem 0 0 0;

    align-items: center;
    justify-content: center;
    text-align: center;
    
    height: 125px;
    width: 100%;
    
    background: #ce0606;

    font: 700 4.0rem Montserrat;
    color: #fff;
}

.shape-step3-de-para {
    flex:1;
    display: flex;
    flex-direction: column;

    margin: 4rem 0 0 0;

    border: 10px solid;
    border-image-source: linear-gradient(135deg, #241140, #891750);
    border-image-slice: 1;

    background: #da1c5c;
    background: linear-gradient(90deg, #da1c5c 0%,#75164d 71%);
}

.shape-step3-de-para h1 {
color: #fff;
font: 700 3.5rem Montserrat;
margin: 3rem 0 0 0;
}

.shape-step3-selection {
    flex:1;
    display: flex;
    flex-direction: row;

    margin: 0;
}

.columns {
    flex:1;
    display: flex;
    flex-direction: column;

    margin: 4rem 0 0 0;margin: 4rem;
}

.fields {
    padding: 0.5rem 1rem;
    background-color: #fff;
    font: 1.4rem Montserrat;
    margin-bottom: 1rem;
}

.upload-button {
    flex: 1;
    display: flex;

    margin: 4rem 0 0 0;

    align-items: center;
    justify-content: center;
    text-align: center;
    
    height: 30px;
    width: 100%;
    
    background: #3c7e83;

    font: 700 2.0rem Montserrat;
    color: #fff;
}