.faq-container{
    flex: 1;
    display: flex;
  
    justify-content: center;
    align-items: center;
  
    height: 250px;
  
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(9,47,121,1) 71%);
    
    padding: 25px;
  }
  
  .faq-container p {
    font: 700 6.0rem Montserrat;
    color: var(--color-box-base);
    
    display: block;
  
    align-items: center;
    justify-content: center;
  
    margin-bottom: 0.4rem;
  }
  
  .faq-container span {
    font: 400 2.5rem Montserrat;
    color: var(--color-box-base);
  
    align-items: center;
    justify-content: center;
  
    display: block;
  }