<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enviando email...</title>
    </head>
    <body>
        <h1>{{subject}}</h1>
        <p>
            Olá, {{nome_dest}}!
        </p>
        <p>
            {{body}}
        </p>
        <p>
            <b>Código de acesso:</b> {{hash_comunicado}}
        </p>
    </body>
</html>