    #imagem1 {
        position: relative;
        width: 70%;
        right: 200%;
        left: 10%;
        top: 5%;

    }

    #imagem2 {
        position: relative;
        width: 70%;
        left: 10%;
        top: 15%;
        right: 200%;


    }

    body {
        position: relative;
        background-color: #6C63FF;
    }

    #barramenu {
        background-color: #4c47b1;
        position: relative;
        width: 100%;
        height: 100px;
        left: 0px;
        top: 0px;
    }

    #botaodoar {
        position: absolute;
        background: red;
        top: 5%;
        left: 68.6%;
        width: 130px;
        height: 90%;
        box-shadow: none;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: white;
        border-top: none;
        border-bottom: 5px;
        border-left: none;
        border-right: none;
        border-radius: 10px;
    }

    #botaodoar:hover {
        background: #0ac503;
        opacity: 100%;
    }

    #botaologin {
        background: none;
        position: absolute;
        top: 0px;
        left: 79.027777777778%;
        width: 104px;
        height: 100%;
        margin-right: 1px;
        box-shadow: none;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: white;
        border: none;
    }

    #botaologin:hover {
        background: #000000;
        opacity: 75%;
        border: none;
        color: white;
    }

    #botaocadast {
        background: none;
        position: absolute;
        top: 0px;
        left: 86.8%;
        width: 150px;
        height: 100%;
        margin-left: 1px;
        box-shadow: none;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: #F2F2F2;
        border: none;
    }

    #botaocadast:hover {
        background: #000000;
        opacity: 75%;
        border: none;
        color: white;
    }

    #inicio {
        background-color: white;
        width: 85%;
        height: 2700%;
        position: absolute;
        left: 100px;
        top: 180px;
    }

    .caixa1 {
        position: relative;
        color: black;
        width: 950px;
        height: 200px;
        border: 3px solid black;
        left: 145px;
        top: -650px;
        border-top: none;
        padding-left: 10%;
        padding-right: 10px;
        padding-top: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp(1em, 1em + 1vw, 1.5em);
        text-align: justify;
        margin: 15px;
    }

    .caixa2 {
        position: relative;
        color: black;
        width: 1100px;
        height: 200px;
        border: 3px solid black;
        left: 145px;
        top: 150px;
        border-top: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp(1em, 1em + 1vw, 1.5em);
        text-align: justify;
        margin: 15px;
    }


    #endereco {
        top: 2900%;
        left: 26.5%;
        position: absolute;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    #titulo {
        top: 115%;
        left: 20%;
        color: white;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
    }

    #tituloimagem1 {
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    #tituloimagem2 {
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }