.css-llf1rc-MuiPaper-root-MuiDrawer-paper {
  background-color: #1d1b1b !important;
  color: #f7f7f7 !important;
}

.css-1ospu1q-MuiButtonBase-root-MuiButton-root {
  color: #f7f7f7 !important;
}

.css-ro3fvo-MuiTypography-root {
  color: #c2b53c !important;
}

.css-1b2seic-MuiButtonBase-root-MuiButton-root {
  color: #c2b53c !important;
}

.css-y00m2w-MuiPaper-root-MuiAppBar-root {
  background-color: #000 !important;
}

.css-1i9b2p2 {
  background-color: #000000 !important;
  min-height: 100%;
  padding-top: 24px;
  border-top: 1px solid #e3e3e3 !important;
  padding-bottom: 24px;
}

.css-1nxm6du {
  background-color: #000000 !important;
}

.css-1h67mkt-MuiButtonBase-root-MuiButton-root {
  border-radius: 10px !important;
}

.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 0!important;
}
