* {margin: 0; padding: 0;}
  a,img {border: none;
  
 
}
  .trs {-webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;}
  
  #slider {position: relative; z-index: 1;}
  #slider a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);}
  .ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}
  
  /*controladores*/
  span {
    background: #004754;
     cursor: pointer;
      opacity: 0;
      filter:alpha(opacity=0); 
      position: absolute; 
      bottom: 40%;
      width: 43px; 
      height: 43px; 
      z-index: 8988888888888;
    }
  .next {right: 10px;}
  .next:before,.next:after {left: 21px;}
  .next:before {
    -webkit-transform: rotate(-42deg);
    top: 5px;
  }
  .next:after {
    -webkit-transform: rotate(-132deg);
    top: 19px;
  }
  .next:before,.next:after,.prev:before,.prev:after {content: "";
    height: 20px;
    background: #fff;
    width: 1px;
    position: absolute;
  }

  .prev {left: 10px;}
  .prev:before,.prev:after {left: 18px;}
  .prev:before {
    -webkit-transform: rotate(42deg);
    top: 5px;
  }
  .prev:after {
    -webkit-transform: rotate(132deg);
    top: 19px;
  }


  figure:hover span {
    opacity: 0.76;
    filter:alpha(opacity=76);}

  figure {
    max-width: 937px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
  }

  figcaption {
    padding-left: 20px;
    color: #fff; 
    font-family: "Kaushan Script","Lato","arial"; 
    font-size: 22px; 
    background: #004754c7; 
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    line-height: 55px; 
    height: 55px; 
    z-index: 5
  }

  @media only screen and (max-width: 800px) {
    figure{
      width: 80%;
      height: 250px;
    }

    figure a img {
      max-width: 100%;
    }
  }