{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="flashes ">
    {% for message in messages %}
    <div class="text-center  container-fluid col-12"style="; background-color: ; width:300px; ">{{ message }}</div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}

<div class="container-fluid mt-5">
    {% for row in csv_reader%}
    {% if loop.index%2 == 0%}
    <div class="container-fluid " style="background-color: rgb(224, 224, 224);">
    {% else %}
    <div class="container-fluid border-bottom" >
    {% endif %}
        <p class="text-center">
        Estado: {{row[7]}} Cidade: {{row[8]}} Idade: {{row[10]}} avg_income: {{row[11]}} estado produto: {{row[14]}}
        <div class="container-fluid text-center">
            <a class=" ad2 btn btn-secondary" href="/apicsv/{{row[0]}}/{{n.id}}">Recomendar</a>
        </div>
        </p>
    </div> 
    {% endfor%}
</div>

{% endblock %}