{% extends "base.html" %}
{% block content %}


<div class="container-fluid text-light text-center wow fadeInDown " style="height:650px; margin-top:-100px; background-color: ; background-size: cover; background-image: url('static/img/home.jpg');">
    <div class="container-fluid position-absolute top-50 start-50 translate-middle">
        <h3 class="wow fadeInRight">Solução com inteligencia artifical</h3>

        <h5 class="wow fadeInLeft">Segmentação do cliente?</h5>
        <p class="wow fadeInRight"> Possuem uma segmentação antiga (2013) que não expressa o mercado atual e é pouco utilizada internamente.</h5>
            
        <h5 class="wow fadeInLeft"> Temos nosso mercado potencial mapeado?</h5>
        <p class="wow fadeInRight"> Possuem ferramenta de Market Share, ampla que não possui o detalhamento do potencial financeiro ou perfil, que acaba subutilizada.</p>
            
        <h5 class="wow fadeInLeft">Possuimos análise/estratégia por mercado x produto x concorrente x segmento?</h5>
        <p class="wow fadeInLeft"> A atual análise pe gerada manualmente, o projeto produzirá automação e extração dessas análises.</p>
    
    
        <h3 class="wow fadeInRight"> Solução</h3>
        <p class="wow fadeInLeft">Maior detalhamento do cliente, que permitirá ações comerciais personalizadas
Usaremos um algoritmo de recomendação para o setor de vendas do SPC, que irá recomendar o produto mais adequado de acordo com o perfil de cada cliente. Foram selecionadas algumas bases para nos auxiliar nessa complementação de dados para as análises que desejamos. Realizamos uma raspagem de dados na API do twitter. Usaremos os Top Trends de regiões para auxiliar o algoritmo de recomendação. Desenvolveremos um sistema web onde o analista poderá logar e visualizar as análises disponiveis baseadas nos nossos modelos de dados e no nosso modelo de inteligência artificial, é importante salientar que nossa base estará em constante manutenção, afim de agregar cada vez mais valor.</p>
  
    </div>

</div>
{% endblock %}