{% macro render_field(field, class_, errcclass) %}
  {% if not field.errors %}
    {% set errclass = "" %}
  {% endif %}
  <div class="uk-margin">
    {# <label for="{{ field.id}}">{{ field.label.text }}</label> #}
    {% if not field.flags.hidden %}
      {{ field(class_=' '.join([class_, errcclass]), **kwargs) | safe }}
    {% endif %}
  </div>
{% endmacro %}

{%- macro r_input(form_input) -%}
{{ render_field(form_input, "uk-input", "uk-form-danger", *varargs,
      placeholder=form_input.label.text|title, value=form_input.data or "",
      **kwargs) }}
{%- endmacro -%}

{%- macro r_info_from_str(field_label, field_value) -%}
  <div class="uk-margin">
    <tr>
      <td class="uk-text-bold">{{ field_label|upper|safe }}</td>
      <td>{{ field_value or '' }}</td>
    </tr>
  </div>
{%- endmacro -%}

{% macro r_info_field(field) %}
  {{ r_info_from_str(field.label, field.data) }}
{% endmacro %}