{% extends "_authentication.jinja" %}

{% set title = "SIGN IN" %}
{% set redirect_name = "Sign up" %}}
{% block TITLE %}{{ title }}{% endblock %}
{% block FORM_TITLE %}{{ title }}{% endblock %}


{% block AFTER_FORM_CONTENT %}
<div class="uk-flex uk-flex-column">
    <button class="uk-button uk-button-primary" type="submit">
        SIGN IN       
    </button>

    <a class="uk-link uk-margin-top" href="{{ url_for('app.signup') }}">
        Don't have an account yet?
    </a>
 </div>

{% endblock %}
