.elementExample_first {
  position:absolute;
  right: 0;
  border:solid 1px;
  border-color:#000000;
  width: 960px;
  height: 260px;
}
.elementExample_second {
  border:solid 1px;
  border-color:#000000;
  width: 350px;
  height: 260px;
}
.elementExample_third {
  position:absolute;
  right: 0;
  border:solid 1px;
  border-color:#000000;
  width: 500px;
  height: 360px;
}
.elementExample_fourth {
  border:solid 1px;
  border-color:#000000;
  width: 300px;
  height: 360px;
}
.elementExample_fifth {
  position: absolute;
right: 504px;
  border:solid 1px;
  border-color:#000000;
  width: 500px;
  height: 360px;
}
