requests
beautifulsoup4
wbdata
pandas
matplotlib
lxml
pytrends
seaborn
numpy
ipython
jupyter
xlrd
twitter-scraper
markovify
folium
plotly
chart_studio
sklearn
scikit-plot
imblearn
geopandas
shapely
descartes
rtree
pygeos
fuzzywuzzy
xgboost
statsmodels
scikit-surprise
mlxtend 
gower
umap
