* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-cad {
    height: 10px;
}

.corpo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 35px;
    background: transparent;
    margin: 0 auto;
    width: 30%;
    height: 400px;
}

.corpo h2{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

.corpo h2::after{
    content: '  ';
    display: block;
    margin: 10px auto;
    border-bottom: 3px solid #000;
    width: 25%;
}

.corpo input{
    display: block;
    margin: 10px auto;
    box-sizing: content-box;
    border: 2px solid #000;
    border-radius: 5px;
    width: 75%;
    height: 40px;
    padding: 2px 5px;
    font-size: 16pt;
    transition: 0.2s;
    outline: none;
    background-color: transparent;
    text-shadow: 10px;
    
}

.corpo input[type="text"]::placeholder,
.corpo input[type="password"]::placeholder {
    font-size: 16pt;
    color: #000;
    text-indent: 10px;
}

.corpo input[type="submit"]:hover {
    background-color: #5CE1E6;
    color: #000;
    transition: 1s;
}

.texto {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 35px;
    background: transparent;
    margin: 0 auto;
    width: 30%;
    height: 400px;
}

.corpo h5{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

.corpo h5::after{
    content: '  ';
    display: block;
    margin: 10px auto;
    border-bottom: 3px solid #000;
    width: 25%;
}

@media screen and (max-width: 900px) {
    .corpo {
        width: 70%;
    }
}

@media screen and (max-width:400px) {
    .corpo {
        width: 85%;
    }
}