<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" th:href="@{/styles/components.css}">
      <link rel="stylesheet" href="components.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>FullPDF</title>
   </head>
   <body id="pdfBody" class=".bg-info">
      <header id="header">
         <div id="logo">
            <img id="logoPdf" src='images/pdf.png'> </img>
            <h1 id="titulo"> <strong> PDF Compiler - FULL</strong> </h1>
         </div>
        </div>
        <a id="pdfFull" href="/pdf-full" class="btn">
           PDF FULL
        </a>
        <a id="pdfDelta" href="/pdf-delta" class="btn">
           PDF DELTA
        </a>
      </header>
      <hr>
      <form id="myForm" th:action="@{/pdf-full}" th:object="${pdf}" method="post">
      <div class="inline">
         <label>Manual Name
            <input id="revisionNumber"  th:field="*{mnl_name}" class="filePdf" type="text"></input>
        </label>
         <label>Tag
         <input id="tag"  th:field="*{flg_tag}" class="filePdf" type="text"></input>
         </label>
         <label>Revision
            <input id="tag"  th:field="*{revision}" class="filePdf" type="text"></input>
         </label>
         <button onclick="getFile();" id="create-pdf" class="btn btn-secondary float-right">Create</button>
      </div>
      </form>
      <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
      <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
      <hr>
      <div class="container">
         <table class="table table-striped">
            <tr>
               <th>Name</th>
               <th>Modification Date</th>
               <th>Type</th>
               <th>Size</th>
            </tr>
            <tr >
               <td ></td>
               <td ></td>
               <td ></td>
               <td ></td>
            </tr>
         </table>
         <a id="back" href="/menu" class="btn btn-secondary float-right">Back</a>
      </div>
      <script src="script.js"></script> 
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"></script>
   </body>
</html>