

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listagem de usuarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<nav class="navbar is-primary is-light is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Minha Jornada
            </a>
            <a style="margin-left: 10px" class="navbar-item is-active" href="/user/list">
                Listagem
            </a>
            <a style="margin-left: 10px" class="navbar-item" href="/user/new">
                Cadastro de usuario
            </a>
        </div>
    </div>
</nav>
<section class="section hero is-light medium">
    <div class="container">
        <h1 class="title">
            Listagem de Usuarios
        </h1>
    </div>
</section>
<section class="container mt-5">
    <input name="keyword" id="txtSearch" class="input is-rounded mb-5" type="text" placeholder="Entre com o nome para pesquisar">

    <table class="table container">
        <thead>
        <tr>
            <th>Id</th>
            <th style="width: 100%">Name</th>
            <th>Profile</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr th:id="'tr' + ${cliente.id}" th:each="cliente: ${clienteList}">
                <td th:text="${cliente.id}">Id</td>
                <td th:text="${cliente.name}">Nome</td>
                <td th:text="${cliente.profile.label}">Profile</td>
                <td>  <a th:href="@{'/user/edit/' + ${cliente.id}}"><button class="button is-warning is-light">Edit</button></a></td>
                <td>  <a th:href="@{'/user/delete/' + ${cliente.id}}"><button class="button is-danger is-light">Delete</button></a></td>
        </tr>
        </tbody>
    </table>
</section>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
        var cliente = /*[[${cliente}]]*/;
    /*]]>*/

    $('#txtSearch').on('keyup',function (){
        var value = $(this).val();

        FilterFunction(value,cliente);
    });

    function FilterFunction(value,data){
        var filteredData = [];
        for(var i =0;i<data.length;i++){
            value = value.toLowerCase();
            var fname = data[i].name.toLowerCase();
            if(fname.includes(value)){
                document.querySelector("#tr" + data[i].id).style.display = 'table-row'
            } else {
                document.querySelector("#tr" + data[i].id).style.display = 'none'
            }
        }
    }
</script>

</body>
</html>