<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Minha Jornada</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<section class="section hero is-light medium">
    <div class="container">
        <h1 class="title">
            Tela de Jornada
        </h1>
    </div>
</section>
<section class="is-rounded is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="#" class="box" method="post" th:action="@{/journey/save}" th:object="${journey}">
                        <div class="field">
                            <label class="label" for="">Id</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="id" name="id" placeholder="Id"
                                           readonly="readonly" required th:field="*{id}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Nome</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="name" name="name" placeholder="nome"
                                           required th:field="*{name}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Sobrenome</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="surname" name="surname"
                                           placeholder="Sobrenome" required th:field="*{surname}"
                                           type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Turno</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="working_hours" name="working_hours"
                                           placeholder="Turno"
                                           required th:field="*{working_hours}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Hora de almoço</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="lunch_time" name="lunch_time"
                                           placeholder="Hora de almoço"
                                           required th:field="*{lunch_time}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Fracionar almoço</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="second_fraction" name="second_fraction"
                                           placeholder="Fracionar almoço"
                                           required th:field="*{second_fraction}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Repouso</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input class="input" id="telephone" name="resting_hours" placeholder="Repouso"
                                           required th:field="*{resting_hours}" type="text">
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Fracionar repouso</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="first_fraction" name="first_fraction"
                                           placeholder="Fracionar repouso"
                                           required th:field="*{first_fraction}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Folga</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input class="input" id="time_off" name="time_off" placeholder="Folga"
                                           required th:field="*{time_off}" type="text">
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Fracionar folga</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="third_fraction" name="third_fraction"
                                           placeholder="Fracionar folga"
                                           required th:field="*{third_fraction}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field" id="savebutton">
                            <button class="button is-success">
                                Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
</body>
</html>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            var $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Minha Jornada</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<section class="section hero is-light medium">
    <div class="container">
        <h1 class="title">
            Tela de Jornada
        </h1>
    </div>
</section>
<section class="is-rounded is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="#" class="box" method="post" th:action="@{/journey/save}" th:object="${journey}">
                        <div class="field">
                            <label class="label" for="">Id</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="id" name="id" placeholder="Id"
                                           readonly="readonly" required th:field="*{id}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Nome</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="name" name="name" placeholder="nome"
                                           required th:field="*{name}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Sobrenome</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="surname" name="surname"
                                           placeholder="Sobrenome" required th:field="*{surname}"
                                           type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Turno</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="working_hours" name="working_hours"
                                           placeholder="Turno"
                                           required th:field="*{working_hours}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Hora de almoço</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="lunch_time" name="lunch_time"
                                           placeholder="Hora de almoço"
                                           required th:field="*{lunch_time}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Fracionar almoço</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="second_fraction" name="second_fraction"
                                           placeholder="Fracionar almoço"
                                           required th:field="*{second_fraction}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Repouso</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input class="input" id="telephone" name="resting_hours" placeholder="Repouso"
                                           required th:field="*{resting_hours}" type="text">
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Fracionar repouso</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="first_fraction" name="first_fraction"
                                           placeholder="Fracionar repouso"
                                           required th:field="*{first_fraction}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Folga</label>
                            <div class="control has-icons-left">
                                <td>
                                    <input class="input" id="time_off" name="time_off" placeholder="Folga"
                                           required th:field="*{time_off}" type="text">
                                    <span class="icon is-small is-left">
                              	<i class="fa fa-lock"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="">Fracionar folga</label>
                            <div class="control has-icons-left">
                                <td><input class="input" id="third_fraction" name="third_fraction"
                                           placeholder="Fracionar folga"
                                           required th:field="*{third_fraction}" type="text">
                                    <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                                </td>
                                </span>
                            </div>
                        </div>
                        <div class="field" id="savebutton">
                            <button class="button is-success">
                                Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
</body>
</html>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            var $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>