<!DOCTYPE html>
<head>
	<title>Necto - Gantt</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
	
	<style>
		body, html {
  			height: 100%;
  			font-family: "Inconsolata", sans-serif;
		}

		.bgimg {
		  background-position: center;
		  background-size: cover;
		  background-image:url("https://gitlab.com/gurst6/projeto-integrador-gantt/-/raw/master/Materiais/logo.PNG");
		  min-height: 75%;
		}

		.menu {
		  display: none;
		}
	</style>
</head>

<body>
<!-- Links de cima --> 
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
	<div class="w3-col s3">
		<a href="/" class="w3-button w3-block w3-black">HOME</a>
	</div>
	<div class="w3-col s3">
		<a href="/ganttTasks" class="w3-button w3-block w3-black">GANTT</a>
	</div>
	<div class="w3-col s3">
		<a href="/devs" class="w3-button w3-block w3-black">Desenvolvedores</a>
	</div>
    <div class="w3-col s3">
      <a href="http://fatecsjc-prd.azurewebsites.net/" class="w3-button w3-block w3-black">FATEC</a>
    </div>
  </div>
</div>

<!-- Sobreposição da capa -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white">Bubble Sort Productions</span>
  </div>
</header>

<!-- background cor -->
<div class="w3-sand w3-grayscale w3-large">

<!-- Conteúdo QUEM SOMOS -->
<div class="w3-container" id="QUEM SOMOS">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Ver Projetos</span></h5>
    </div>
</div>
	<a href="/ganttTasks"><center><img src="https://image.flaticon.com/icons/svg/31/31970.svg" style="width:100%;max-width:80px"></center></a>
<div class="w3-container" id="QUEM SOMOS">
  <div class="w3-content" style="max-width:700px">
	<p align="center">Olá, Quer ver seus projetos? Clique em "Gantt" na barra superior!</p>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Rodapé -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Powered by Bubble Sort</p>
  <p><center>Members: Gabriel Queiroz e Gustavo Ribeiro.<br> Master: Gabriel Queiroz </center></p>
</footer>
</body>
</html>
